
@{
    ViewBag.Title = "FixFun";
    Layout = "~/Views/Shared/_LayoutGCHome.cshtml";
}
@using Models;
@{
    List<Fix> fixlist = ViewBag.FixList;
    List<Moveinto> movelist = ViewBag.MoveinList;
}
<div style="width:90%;margin:10px auto">
    <table class="table table-bordered table-striped" style="transform:translateY(20px)">
        <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>楼宇</th>
                <th>宿舍</th>
                <th>上报原因</th>
                <th>申诉理由</th>
                <th>受理状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in fixlist as List<Fix>)
            {
                <tr>
                    <td>@item.Student.StuNumber</td>
                    <td>@item.Student.StuName</td>
                    @foreach (var item1 in movelist as List<Moveinto>)
                    {
                        if (item.StuID == item1.StuID)
                        {
                            <td>@item1.Floor.FloorName</td>
                            <td>@item1.Dorm.DormName</td>
                        }
                    }
                    <td>@item.FixReason</td>
                    <td>@item.XsReason</td>
                    <td>
                        @if (item.FixState == 0)
                        {
                            @:未受理
                        }
                        else
                        {
                            @:已受理
                        }
                    </td>
                    <td>
                        @if (item.FixState == 0)
                        {
                            <a href="" class="btn btn-primary">受理</a>
                        }
                        else
                        {
                            @:无需操作
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

