
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGCHome.cshtml";
}
@using Models
<link href="~/Content/Myself.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<style>
    label.error {
        color: red;
    }
</style>
<div style="width:90%;margin:10px auto">
    <div class="">
        <a href="" class="btn btn-primary col-lg-1" data-toggle="modal" data-target="#Add">添加学生</a>
        <form action="/Student/Index" method="get" id="nb">
            <div class="form-inline  col-lg-9">
                <select class="form-control col-lg-offset-4" name="State">
                    @if (ViewBag.State == 0)
                    {
                        <option value="">--请选择--</option>
                        <option value="0" selected="selected">未入住</option>
                        <option value="1">已入住</option>
                    }
                    else if (ViewBag.State == 1)
                    {
                        <option value="">--请选择--</option>
                        <option value="0">未入住</option>
                        <option value="1" selected="selected">已入住</option>
                    }
                    else
                    {
                        <option value="" selected="selected">--请选择--</option>
                        <option value="0">未入住</option>
                        <option value="1">已入住</option>
                    }
                </select>
                <input type="text" placeholder="请输入姓名" class="form-control " style="        width: 250px
" name="StuName" value="@ViewBag.StuName" />
                <a href="#" class="btn btn-info" onclick="nbclass()">查询</a>
            </div>
        </form>
    </div>
    <table class="table table-bordered table-striped" style="transform:translateY(20px)">
        <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>登录账号</th>
                <th>性别</th>
                <th>年龄</th>
                <th>入住状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="nb">
            @foreach (var item in ViewBag.list as List<Student>)
            {
                <tr>
                    <td>@item.StuNumber</td>
                    <td>@item.StuName</td>
                    <td>@item.StuCount</td>
                    <td>
                        @if (item.StuSex == 1)
                        {
                            @:男
                        }
                        else
                        {
                            @:女
                        }
                    </td>
                    <td>@item.StuAge</td>
                    <td>
                        @if (item.OccupancyStatus == 0)
                        {
                            @:未入住
                        }
                        else if (item.OccupancyStatus == 1)
                        {
                            @:已入住
                        }
                    </td>
                    <td><button class="btn btn-info" data-toggle="modal" data-target="#Edit" data-whatever="@item.StuID">编辑</button></td>
                </tr>
            }
        </tbody>
    </table>

</div>


<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="color:black">添加学生</h4>
            </div>
            <form action="/Student/Index" method="post" id="AddValidate">
                <div class="modal-body" style="padding-bottom:10px">
                    <div class="form-inline a_1">
                        <label>学号：</label>
                        <input type="text" class="form-control" name="StuNumber" id="StuNumber" onblur="lose()" />
                        <p style="color:red" id="fill"></p>
                    </div>
                    <div class="form-inline a_1">
                        <label>姓名：</label>
                        <input type="text" class="form-control" style="margin-top:10px" name="StuName" id="StuName" />
                    </div>
                    <div class="form-inline a_1">
                        <label>登录账号：</label>
                        <input type="text" class="form-control" style="margin-top:10px" name="StuCount" id="StuCount" />
                    </div>
                    <div class="form-inline a_1">
                        <label>登录密码：</label>
                        <input type="text" class="form-control" style="margin-top:10px" name="StuPwd" id="StuPwd" />
                    </div>
                    <div class="form-inline a_1">
                        <label>性别：</label>
                        <input type="radio" name="StuSex" value="1" class="StuSex" checked="checked"/>男
                        <input type="radio" name="StuSex" value="0" class="StuSex" />女
                    </div>
                    <div class="form-inline a_1" style="margin-top:10px">
                        <label>年龄：</label>
                        <input type="text" class="form-control" name="StuAge" id="StuAge" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="color:black">编辑学生</h4>
            </div>
            <form action="/Student/EditStudent" method="post" id="EditValidate">
                <div class="modal-body" style="padding-bottom:10px">
                    <input type="hidden" name="StuID" id="StuID" />
                    <input type="hidden" name="OccupancyStatus" id="OccupancyStatus" />
                    <input type="hidden" name="IsDelete" id="IsDelete" />
                    <div class="form-inline a_1">
                        <label>学号：</label>
                        <input type="text" class="form-control" name="StuNumber" id="StuNumber" />
                    </div>
                    <div class="form-inline a_1">
                        <label>姓名：</label>
                        <input type="text" class="form-control" style="margin-top:10px" name="StuName" id="StuName" />
                    </div>
                    <div class="form-inline a_1">
                        <label>登录账号：</label>
                        <input type="text" class="form-control" style="margin-top:10px" name="StuCount" id="StuCount" />
                    </div>
                    <div class="form-inline a_1">
                        <label>登录密码：</label>
                        <input type="text" class="form-control" style="margin-top:10px" name="StuPwd" id="StuPwd" />
                    </div>
                    <div class="form-inline a_1">
                        <label>性别：</label>
                        <input type="radio" name="StuSex" value="1" class="StuSex" />男
                        <input type="radio" name="StuSex" value="0" class="StuSex" />女
                    </div>
                    <div class="form-inline a_1" style="margin-top:10px">
                        <label>年龄：</label>
                        <input type="text" class="form-control" name="StuAge" id="StuAge" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section scripts{
    <script>
        function nbclass() {
            $("#nb").submit();
        }

        $('#Edit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var StuID = button.data('whatever');
            var modal = $(this)
            $.post({
                url: "/Student/EditStu",
                data: {
                    StuID: StuID
                },
                datatype: "json",
                success: function (data) {
                    var msg = jQuery.parseJSON(data);
                    modal.find('#StuID').val(msg.StuID);
                    modal.find('#StuNumber').val(msg.StuNumber);
                    modal.find('#StuName').val(msg.StuName);
                    modal.find('#StuCount').val(msg.StuCount);
                    modal.find('#StuPwd').val(msg.StuPwd);
                    if (msg.StuSex == 1) {
                        $('.StuSex:eq(2)').attr("checked", true);
                    }
                    else {
                        $('.StuSex:eq(3)').attr("checked", true);
                    }
                    modal.find('#StuAge').val(msg.StuAge);
                    modal.find('#OccupancyStatus').val(msg.OccupancyStatus);
                    modal.find('#IsDelete').val(msg.IsDelete);
                },
                error: function () {
                    alert('');
                }
            })
        })

        function lose() {
            var StuNumber = $("#StuNumber").val();
            $.ajax({
                type: "post",
                url: "/Student/ajaxOrnotStuNumber",
                data: { "StuNumber": StuNumber },
                success: function (data) {
                    if (data == 1) {
                        $("#fill").html("学号是唯一的!请重新输入");
                        $("#StuNumber").val("");
                    }
                    else {
                        $("#fill").html("");
                    }
                }
            })
        }
    </script>
}

<script type="text/javascript">
    $("#AddValidate").validate({
        rules: {
            StuNumber: { required: true, maxlength: 30 },
            StuName: { required: true },
            StuCount: { required: true },
            StuPwd: { required: true },
            StuSex: { required: true },
            //StuCount: { required: true, equalTo: "#Password" },
            StuAge: { required: true }
        },
        messages: {
            StuNumber: { required: "学号必填", maxlength: "账号输入内容不能超过30字" },
            StuName: { required: "姓名必填" },
            StuCount: { required: "账号必填" },
            StuPwd: { required: "密码必填" },
            StuSex: { required: "请选择性别" },
            //StuCount: { required: "请重新输入密码", equalTo: "与密码输入不一致" },
            StuAge: { required: "年龄必填" }
        }
    })

   $("#EditValidate").validate({
        rules: {
            StuNumber: { required: true, maxlength: 30 },
            StuName: { required: true },
            StuCount: { required: true },
            StuPwd: { required: true },
            StuSex: { required: true },
            //StuCount: { required: true, equalTo: "#Password" },
            StuAge: { required: true }
        },
        messages: {
            StuNumber: { required: "学号必填", maxlength: "账号输入内容不能超过30字" },
            StuName: { required: "姓名必填" },
            StuCount: { required: "账号必填" },
            StuPwd: { required: "密码必填" },
            StuSex: { required: "请选择性别" },
            //StuCount: { required: "请重新输入密码", equalTo: "与密码输入不一致" },
            StuAge: { required: "年龄必填" }
        }
    })


    $.validator.addMethod("checkPwd", function (value, e) {
        var reg = /^[A-Za-z0-9]{6,12}$/;
        return reg.test(value);
    })
</script>
@*<script type="text/javascript">
        function nbclass() {
            var StuNumber = $("#StuNumber").val();
            var StuName = $("#StuName").val();
            var StuCount = $("#StuCount").val();
            var StuPwd = $("#StuPwd").val();
            var StuSex = $("#StuSex").val();
            var StuAge = $("#StuAge").val();
            var sex = '未知';
            if (StuSex == 1) { sex = "男" } else { sex = "女" }
            $.ajax({
                url: "/Student/Index",
                data: {
                    "StuNumber": StuNumber,
                    "StuName": StuName,
                    "StuCount": StuCount,
                    "StuPwd": StuPwd,
                    "StuSex": StuSex,
                    "StuAge": StuAge
                },
                type: "post",
                dataType: "json",
                success: function (result) {
                    if (result == 1) {
                        var nb = $("#nb");
                        var nb_1 = $('<tr><td>' + StuNumber + '</td><td>' + StuName + '</td><td>' + StuCount + '</td><td>' + StuPwd + '</td><td>' + sex + '</td><td>' + StuAge + '</td><td>' + "未入住" + '</td></tr>');
                        nb.append(nb_1);
                        $("#Add").modal("toggle");

                    }
                    else {
                        alert("失败");
                    }
                }
            })

        }


    </script>*@
