
@{
    ViewBag.Title = "FixCenterIndex";
    Layout = "~/Views/Shared/_LayoutStudentGCHome.cshtml";
}
@using Models
@{
    List<Fix> fixlist = ViewBag.FixList;
}
<div style="width:80%;margin:0px auto;margin-bottom:27.5%">
    <table class="table table-bordered" style="transform:translateY(20px);font-size:smaller">
        <thead class="thead-light">
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>位置</th>
                <th>联系方式</th>
                <th>上报原因</th>
                <th>上报时间</th>
                <th>受理状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in fixlist as List<Fix>)
            {
                <tr style="line-height:40px">
                    <td>@item.Student.StuNumber</td>
                    <td>@item.Student.StuName</td>
                    <td>@item.Adress</td>
                    <td>@item.Phone</td>
                    <td>@item.FixReason</td>
                    <td>@string.Format("{0:D}", item.FixDate)</td>
                    <td>
                        @if (item.FixState == 1)
                        {
                            @:未受理
                        }
                        else if (item.FixState == 0)
                        {
                            @:正在处理
                        }
                        else
                        {
                            @:已受理
                        }
                    </td>
                    <td>
                        @if (item.FixState == 1)
                        {
                            <a href="/Qianduan/DelFix?FixID=@item.FixID" class="btn btn-light" onclick="return confirm('确定要取消上报吗')">取消上报</a>

                        }
                        else if (item.FixState == 0)
                        {
                            @:无需操作
                        }
                        else
                        {
                            <a href="" class="btn btn-light" onclick="return confirm('确定要上诉吗')">上诉</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

