<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body class="user-select">
    <section class="container-fluid">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">GC家园</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">
                                <a href="#">admin</a>
                            </li>
                            <li><a href="login.html" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
                        </ul>
                        <form action="" method="post" class="navbar-form navbar-right" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" autocomplete="off" placeholder="键入关键字搜索" maxlength="15">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">搜索</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <div class="row">
            <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/Login/Home">首页</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/Student/Index" data-ajax-update="#main" data-ajax="true">学生管理</a></li>
                    <li><a href="/Student/MoveintoFun" data-ajax-update="#main" data-ajax="true">学生入住管理</a></li>
                    <li><a href="/Student/AttendanceFun" data-ajax-update="#main" data-ajax="true">学生缺勤管理</a></li>
                    <li><a href="#">学生寝室调换</a></li>
                    <li><a href="#">学生迁出记录</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="#">楼宇管理员管理</a></li>
                    <li><a href="#">楼宇管理</a></li>
                    <li><a href="#">宿舍管理</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="#">修改密码</a></li>
                </ul>
            </aside>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
                @RenderBody()
            </div>

        </div>
    </section>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">

    //$(".row ul").on("click", "li", function () {
    //    alert();
    //    $(".row ul li").removeClass("active");
    //    $(this).addClass("active");
    //});

    
        $('.row ul li').click(function () {
            $(".row ul li").removeClass("active");
        $(this).addClass("active");
    })


        //function nbclass() {
        //    $.ajax({
        //    type: "post",
        //    url: "/Student/Index",
        //        success: function (data) {
        //          $("#main").html(data);
        //      }
        //})
        //}
    </script>